---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Senior Frontend Developer",
    description:
      "Desarrollador Web Frontend con Pasión: Impulsando la innovación en la interfaz de usuario para un ERP y una plataforma de comercio electrónico. ¡Creatividad y eficiencia con React, Vue, NextJS y ExpressJS! Además, he añadido magia con Typescript para un toque extra de calidad y rendimiento. As de Aplicaciones Móviles Flutter: Transformando ideas en apps multiplataforma impresionantes. ¡Diseño, construcción y despliegue con un estilo único!",
    link: "https://minicode.com.do",
  },
  {
    date: "Marzo 2021",
    title: "Plataformas Web",
    description:
      "Especialista en Proyectos JavaScript: Trabajando de manera independiente en proyectos desafiantes de JavaScript, con un enfoque en React y Typescript. Desarrollando soluciones innovadoras para e-commerce y otras aplicaciones web.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
